<%= simple_form_for @book do |f| %>

    <% if @book.errors.any? %>
        <div class="errors">
          Total errors: <%= @book.errors.count %>
          <ul>
            <% @book.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div>
      <%= f.input :title %>
    </div>

    <div>
      <%= f.input :description %>
    </div>

    <div>
      <%= f.file_field :file %>
    </div>

    <div>
      <%= f.input :author_ids, :label => 'Авторы', :as => :select, :collection => Author.all.map{|u| ["#{u.name}, #{u.surname}", u.id]}, require: true,  multiple: true %>
    </div>

    <div>
      <%= f.input :category_ids, :label => 'Категория', :as => :select, :collection => Category.all.map{|u| ["#{u.title}", u.id]}, multiple: true, require: true %>
    </div>

    <br/>

    <div>
      <%= f.button :submit,  data: { confirm: "Are you ok with our conditions?" } %>
    </div>

<% end %>